<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <div class="row">
        <header class="container-fluid">
            <nav class="navbar navbar-dark bg-dark navbar-expand-md">
                <h1 class="navbar-brand">Sparks Bank</h1>
                <button class="navbar-toggler" data-toggle="Collapse" data-target="#theMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="theMenu" class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Customers">Customers & Transfer money</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="History">Transfer History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        @*<div class="container">
                <h3>Right Aligned Navbar</h3>
                <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
            </div>*@
        <section class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </section>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>